html,body
{
    background-color:#ffffff;
    font-family: Arial;
    font-weight: bold;
    line-height: 16px;
    height: 100%;
}

.center {
  margin: 0 auto;
}


.top-header{
  height: 105px;
  width : 100%;
  background-color :#7dd9e8;
}

.top-header-inner {
  width: 96%;   
  height: 85px;
  position: relative;
  background-color :#7dd9e8;

}

.top-header-inner-left{
  height: 49px;
  width: 100%;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}


.logo{
  width : 223px;
  float: none;
}

.search-wrapper{
  float: left;
  height: 21px;
  width: 100%;
  padding-top: 10px;
}

.top-header-inner-right{
  height: 49px;
  right: 0;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}

.burger-menu{
  height: 49px;
  width: 49px;
  cursor: pointer;
}

.burger-menu img{
  height: auto;
  width: 100%;
}

.bottom-header{
  height: 156px;
  width: 100%;
  background-color:#f5f5f5;
}

.bottom-header-outer{
  height: 40px;
  width: 96%;
  position: relative;
  background-color :#f5f5f5;
  

}

.bottom-header-right-wrapper{
  height: 20px;
  right: 0;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  
}

.bottom-header-inner { 
  position: absolute;
  top: 50%;
  margin-top: -11px;
  width: 100%;

}

.content-wrapper-main{
  min-height: 100%;
  width: 100%;
}

.content-wrapper {   
  width: 96%;    
  margin-top: 30px;
  position: relative;
  margin-bottom: 30px;
}

.clearfix:after {
  clear: both;
  content: '';
  display: table;
}

.footer-wrapper{
  height: 45px;
  width: 100%;
  background-color: #727272;
  clear: both;
  position: relative;
}

.footer-outer{
  position: relative;
  width: 96%;
  background-color: #727272;
  height: 45px;
}

.footer-container{
  position: absolute;
  top: 50%;
  margin-top: -7px;
  width: 100%;
  font-size: 10px;
  color: #d4d4d4;
}

@media screen and (min-width: 576px) {
  .bottom-header{
    height: 40px;
  }
  
}


@media screen and (min-width: 768px) {
  .top-header{
    height: 85px;
  }
  
}

@media screen and (min-width: 992px) {

  .content-wrapper{
    position: relative;
  }
  .top-header-inner,.bottom-header-outer,.content-wrapper,.footer-outer{
    width: 92%;
  }

}


@media screen and (min-width: 1200px) {

  .top-header-inner,.bottom-header-outer,.content-wrapper,.footer-outer{
    width: 75%;
  }

}


